<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Cliente</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/clientes']">Clientes</a>
            </li>
            <li class="active">
                <strong>Cliente</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <tabset>
                        <tab heading="Datos del Cliente" (select)="onSelectTab(1)">
                            <div class="row">
                                <client-data [clientId]="clientId" *ngIf="Tabs==1"></client-data>
                            </div>
                        </tab>
                        <tab heading="Cuenta" (select)="onSelectTab(2)">
                            <div class="row">
                                <account [clientId]="clientId" (accountId)="onAccountIdChange($event)"></account>
                            </div>
                        </tab>
                        <tab heading="Cronogramas" (select)="onSelectTab(3)" [disabled]="accountId==null">
                            <div class="row">
                                <schedule [accountId]="accountId" *ngIf="Tabs==3"></schedule>
                            </div>
                        </tab>
                        <tab heading="Pagos" (select)="onSelectTab(4)" [disabled]="accountId==null">
                            <div class="row">
                                <payment [clientId]="clientId" [accountId]="accountId" *ngIf="Tabs==4"></payment>
                            </div>
                        </tab>
                        <tab heading="Garantías" (select)="onSelectTab(5)">
                            <div class="row">
                                <warranty [clientId]="clientId" *ngIf="Tabs==5"></warranty>
                            </div>
                        </tab>
                        <tab heading="Estado de Cuenta" (select)="onSelectTab(6)" [disabled]="accountId==null">
                            <div class="row">
                                <accountStatus [clientId]="clientId" [accountId]="accountId" *ngIf="Tabs==6"></accountStatus>
                            </div>
                        </tab>
                        <tab heading="Gastos" (select)="onSelectTab(7)">
                            <div class="row">
                                <spending [clientId]="clientId" *ngIf="Tabs==7"></spending>
                            </div>
                        </tab>
                        <tab heading="Movimientos" (select)="onSelectTab(8)" [disabled]="accountId==null">
                            <div class="row">
                                <movements [clientId]="clientId" [accountId]="accountId" *ngIf="Tabs==8"></movements>
                            </div>
                        </tab>
                        <tab heading="Historial de Cambios">Static content</tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>