<div class="col-lg-12">
    <iboxindex #ibox>
        <div class="custom-ibox-tools">
            <a class="filter" (click)="ibox.colapseFilter($event)">
                <i class="fa fa-filter"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-refresh" (click)="dt.onReload()"></i>
            </a>
        </div>
    </iboxindex>
    <div id="payment-filter" class="form-filter">
        <form id="filterForm" autocomplete="off">
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label class="control-label col-md-5">Fecha de Transacción</label>
                        <div class="col-md-6" style="padding-left: 0px">
                            <my-date-picker name="birthdate" [options]="MyDatePickerOptions" [placeholder]="'Fecha de Transacción'">
                            </my-date-picker>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-6" style="padding-left: 0px">
                    <div class="form-group">
                        <label class="control-label col-md-3" style="padding-right: 0px">Número de Cuota</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Número de Cuota"
                                [(ngModel)]="filter.fee_number" name="fee_number">
                        </div>
                    </div>
                </div>   
            </div>
        </form>
        <div class="hr-line-dashed"></div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="position: relative">
            <div class="col-lg-7">
                <div class="form-group">
                    <label class="control-label col-md-3" style="padding-right: 0px">Nombre de Cliente:</label>
                    <div class="col-md-9">
                        <label class="control-label" style="font-weight: normal !important">
                            {{Client.fullname}}
                        </label>
                    </div>
                </div>
            </div>  
            <mydatatables-ajax #dt [url]="url" [filter]="filter" [columns]="columns">                  
            </mydatatables-ajax>
        </div>
    </div>
</div>